* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff5e2;
  font-family: 'Roboto', sans-serif
}

header{
  background-color: #fdbb40;
}

main {
  padding: 40px;
  background: #fff;
}

footer {
  background-color: #d33359;
}

h1{
  padding: 30px 40px;
  font-weight: bold;
}

h2{
  padding: 10px 0;
}
/* mix */
.wrapper{
  max-width: 850px;
}

/* header */
header{
  position: relative;
}

header img{
  width: 160px;
  position: absolute;
  right: -40px;
  top: -10px;
}

/* main */
.ingredient_list_1, .ingredient_list_2{
  list-style: none;
}
.ingredient_list_1 img, .ingredient_list_2 img{
  width: 70px;
  margin-right: 10px;
}
.ingredient_list_1 li, .ingredient_list_2 li{
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.wrapper_ingredients{
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

#name_burger{
  margin-bottom: 20px;
  border: none;
  font-size: 28px;
}
#name_burger:focus{
  outline: none;
}

.coupon_container{
  margin: 40px 0;
}

.coupon_container label{
  font-weight: bold;
}

#coupons{
  background: #fff5e2;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 500px;
  font-weight: bold;
}

.calculate_content{
  text-align: center;
  padding: 30px;
}

#calculate{
  padding: 15px 20px;
  background: #fdbb40;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: transform 0.5s;
}
#calculate:focus{
  outline: none;
}
#calculate:hover{
  transform: scale(1.5);
}

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}
